# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
huan-simple-html-1.0.0.tgz
.npmrc

# Build
dist
dist-*
dist-ssr
dist-dev
dist-prod

# Git
.git
.gitignore

# Github
github-page
docs
.github

# Local
*.local

# Hidden
.*
!.prettierrc.cjs
!.npmignore
!.eslintignore
!.eslintrc.cjs
!public/.__ignore__

# IDE
.vscode
.idea

# System
.DS_Store
desktop.ini
thumbs.db
iconcache.db
IconCache.db
ntuser.dat
ntuser.dat.log
hiberfil.sys
pagefile.sys
$Recycle.Bin
Recycle Bin

# Other
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
